@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #938455;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

canvas {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    height: 80%;
    border: 2px solid #DBBC5F;
}

.buttons {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

button {
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-color: #CABA8C;
    color: #6e5b20;
    border: none;
    transition: background-color 0.3s ease, color 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
    background-color: #DBBC5F;
    color: #ffffff;
}

@media screen and (min-width:500px) {
    canvas {
        /* color: #daa09b; */
        color: #f6c8c4;
        width: 70%;
    }
}